:root {
  --color-accent: #886239;
  --color-text: #1F1E1E;
  --color-line: #d9d9de;
  --color-grey: #EAEAEA;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--color-text);
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  color: #fff;
}

.menu__btn {
  display: none;
  width: 30px;
  height: 20px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 105px;
  right: 10px;
}
.menu__btn::before, .menu__btn::after {
  content: "";
  width: 100%;
  left: 0;
  position: absolute;
  display: block;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.5s;
}
.menu__btn::before {
  top: 0;
}
.menu__btn::after {
  bottom: 0;
}
.menu__btn.menu__btn--active::before {
  transform: rotate(45deg);
  top: 9px;
}
.menu__btn.menu__btn--active::after {
  transform: rotate(135deg);
  top: 9px;
}
.menu__btn-row {
  border-radius: 2px;
  display: block;
  height: 2px;
  background-color: #fff;
}
.menu__btn--active .menu__btn-row {
  transform: scale(0);
}
.menu__list {
  display: flex;
  justify-content: space-evenly;
  padding: 27px 0 24px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  transition: opacity 200ms ease-out, transform 200ms ease-out;
}
.menu__list.menu__list--active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.menu__link {
  font-size: 16px;
  line-height: 19px;
}

.phone {
  color: #fff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  border: none;
  border-radius: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.header__inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 15px;
}
.header__phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  padding: 9px 0 8px;
}
.header__phone-number {
  min-width: 215px;
  min-height: 44px;
  margin-left: 19px;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
}
.header__menu {
  margin-bottom: 49px;
}
.header__title {
  font-family: "PT Serif", sans-serif;
  font-weight: bold;
  font-size: 90px;
  line-height: 130%;
  flex: 1;
}
.header__content-text {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}
.header__content-btn {
  min-width: 250px;
  min-height: 60px;
  margin-bottom: 19.5px;
}
.header__arrow {
  text-align: center;
  margin-bottom: 14.5px;
}

.direction {
  padding: 100px 0;
}
.direction__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}
.direction__img {
  display: block;
  width: 100%;
}
.direction__text {
  font-size: 16px;
  border: 1px solid var(--color-line);
  border-top: none;
  padding: 12px 19px 14px;
}

.travel-info {
  background-image: url(../images/travel-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 30px 0 50px;
}
.travel-info__title {
  margin-bottom: 50px;
  color: #fff;
}
.travel-info__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 54px 67px;
}
.travel-info__img {
  margin-bottom: 15px;
}
.travel-info__text {
  color: #fff;
  font-size: 16px;
  line-height: 140%;
}

.popular {
  padding: 100px 0;
}
.popular__title {
  margin-bottom: 40px;
  font-weight: bold;
}
.popular__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding-bottom: 80px;
  border: 1px solid #d9d9de;
}
.popular__item-link {
  padding: 16px 24px 19px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 256px;
  line-height: 130%;
}
.popular__item-link:nth-child(3), .popular__item-link:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}
.popular__item-title {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 130%;
}
.popular__item-title--big {
  font-size: 24px;
}
.popular__item-price {
  font-weight: bold;
  font-size: 16px;
}
.popular__item-country, .popular__item-time {
  align-self: flex-start;
  font-size: 16px;
}
.popular__item-time {
  flex: 1;
}

.map {
  padding-bottom: 100px;
}
.map__title {
  margin-bottom: 46px;
}

.about {
  padding-bottom: 100px;
}
.about__inner {
  display: grid;
  grid-template-columns: 1fr 1.4286fr;
  gap: 32px;
}
.about__title {
  text-align: left;
  margin-bottom: 25px;
}
.about__text {
  margin-bottom: 34px;
}
.about__link {
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
  text-decoration: underline;
}
.about__popup {
  background-image: url(../images/video-poster.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  padding: 50px 0 105px;
  background-color: var(--color-accent);
  color: #fff;
}
.gallery__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-right: 160px;
}
.gallery__link {
  font-size: 16px;
  text-decoration: underline;
  line-height: 19px;
}
.gallery__item-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.gallery__item-img {
  width: 100%;
}

.slick-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -85px;
  right: 0;
}

.slick-prev {
  right: 60px;
}

.tour {
  padding: 100px 0;
}
.tour__title {
  margin-bottom: 6.875%;
  font-weight: bold;
}
.tour__content {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 46px;
       column-gap: 46px;
  border-bottom: 1px solid var(--color-line);
  margin-bottom: 44px;
  padding-bottom: 50px;
}
.tour__text {
  margin-bottom: 15px;
}
.tour__info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6.14%;
}
.tour__info-item {
  text-align: center;
}
.tour__info-number {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 58px;
  line-height: 130%;
  color: var(--color-accent);
}
.tour__info-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
}

.booking {
  background-color: var(--color-grey);
  padding: 75px 0;
}
.booking__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  margin-bottom: 43px;
}
.booking__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 832px;
  margin: 0 auto;
  gap: 28px;
}
.booking__input, .booking__comments {
  font-size: 16px;
  line-height: 130%;
  font-family: "Roboto", sans-serif;
  border: 1px solid #D9D9DE;
}
.booking__input {
  padding: 11px 14px 12px;
}
.booking__input::-moz-placeholder, .booking__comments::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #C4C4C4;
}
.booking__input:-ms-input-placeholder, .booking__comments:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #C4C4C4;
}
.booking__input::placeholder, .booking__comments::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #C4C4C4;
}
.booking__comments {
  border: 1px solid #D9D9DE;
  width: 100%;
  padding: 14px;
  height: 112px;
  resize: none;
  margin-bottom: 67px;
}
.booking__submit-btn {
  min-width: 297px;
  min-height: 60px;
}
.booking__label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 130%;
  text-decoration: underline;
}
.booking__checkbox {
  position: absolute;
  position: relative;
  width: 26px;
  height: 26px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 45px;
}
.booking__checkbox:checked + .booking__checkbox-style::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #C4C4C4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.booking__checkbox-style {
  width: 26px;
  height: 26px;
  border: 2px solid #C4C4C4;
  border-radius: 2px;
  position: relative;
  margin-right: 19px;
  flex-shrink: 0;
}
.footer {
  padding: 77px 0 81px;
  background-color: var(--color-text);
}
.footer__logo {
  text-align: center;
  margin-bottom: 70px;
}
.footer__box {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 130%;
  max-width: 832px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.8);
}
.footer__info {
  width: 225px;
}
.footer__box-title {
  margin-bottom: 7px;
  font-weight: 500;
  color: white;
}
.footer__copy {
  margin-bottom: 3px;
}
.footer__link {
  text-decoration: underline;
}
.footer__address {
  width: 165px;
}
.footer__contacts {
  width: 210px;
}
.footer__email {
  display: block;
}

@media (max-width: 1200px) {
  .direction__inner {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .travel-info__items {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .popular__item-link {
    min-height: 200px;
  }
  .popular__items {
    gap: 0px;
  }

  .tour__info {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .header__phone-text {
    display: none;
  }
  .header__phone-number {
    margin-left: 0;
  }

  .popular {
    padding: 50px 0;
  }
  .popular__items {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 40px;
    gap: 10px;
  }
  .popular__item-link {
    min-height: 320px;
  }
  .popular__item-title--big {
    font-size: 18px;
  }
  .popular__item-link:nth-child(3), .popular__item-link:nth-child(6) {
    grid-column: auto;
    grid-row: auto;
  }

  .about {
    padding-bottom: 50px;
  }
  .about__inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .about__popup {
    min-height: 45vw;
  }

  .tour {
    padding: 50px 0;
  }
  .tour__content {
    -moz-column-count: 1;
         column-count: 1;
  }

  .booking {
    padding: 50px 0;
  }
  .booking__input {
    width: 100%;
  }
  .booking__form {
    flex-direction: column;
  }
  .booking__submit-btn {
    order: 1;
  }
  .booking__comments {
    margin-bottom: 0;
  }
  .booking__label {
    align-self: flex-start;
  }

  .footer {
    padding: 50px 0;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__box {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
@media (max-width: 620px) {
  .header__title {
    font-size: 50px;
  }
  .header__top {
    flex-wrap: wrap;
  }

  .menu__btn {
    display: inline-block;
  }
  .menu__list {
    transform: translateY(100vh);
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color-accent);
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
  }
  .title {
    font-size: 28px;
  }

  .logo {
    width: 100%;
    text-align: center;
  }

  .direction {
    padding: 50px 0;
  }
  .direction__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .direction__text {
    padding: 6px 9px 7px;
  }

  .travel-info__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .popular__item-link {
    min-height: 256px;
  }

  .map {
    padding-bottom: 50px;
  }
  .map__iframe {
    height: 70vw;
  }

  .gallery {
    padding-bottom: 50px;
  }
  .gallery__top {
    flex-wrap: wrap;
  }
  .gallery__item-inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 4vw;
  }

  .tour__content {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .tour__info {
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
  }
  .tour__info-text {
    white-space: pre-line;
  }
  .tour__info-number {
    font-size: 48px;
  }
}
@media (max-width: 425px) {
  .direction__inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .travel-info__items {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .popular__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .tour__info {
    grid-template-columns: repeat(1, 1fr);
  }
  .tour__info-text {
    white-space: normal;
  }
}/*# sourceMappingURL=style.css.map */