// $accent: #886239;
// $text-color: #1F1E1E;
// $line-color: #d9d9de;
// $grey: #EAEAEA;

:root {
  --color-accent: #886239;
  --color-text: #1F1E1E;
  --color-line: #d9d9de;
  --color-grey: #EAEAEA;
}