$accent: #886239;
$text-color: #1F1E1E;
$line-color: #d9d9de;
$grey: #EAEAEA;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: $text-color;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  color: #fff;
}

.menu {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding: 27px 0 24px;

  &__list {
    display: flex;
    justify-content: space-evenly;
    // gap: 120px;
    // justify-content: center;
  }

  &__item {}

  &__link {
    font-size: 16px;
    line-height: 19px;
  }
}

.phone {
  color: #fff;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}

.btn {
  // display: flex;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // padding: 19px 65px 20px;
  background-color: $accent;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}


.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  // height: 100vh;

  &__inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 15px;
  }

  &__phone {
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    padding: 9px 0 8px;
  }

  &__phone-number {
    min-width: 215px;
    min-height: 44px;
    margin-left: 19px;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
  }

  &__menu {
    margin-bottom: 49px;
  }

  &__title {
    font-family: 'PT Serif', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 130%;
    color: $text-color;
  }

  &__content {
    margin-top: auto;
  }

  &__content-text {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    color: $text-color;
  }

  &__content-btn {
    min-width: 250px;
    min-height: 60px;
    margin-bottom: 19.5px;
  }

  &__arrow {
    text-align: center;
    margin-bottom: 14.5px;
  }
}

.logo {

  &__img {}
}



.direction {
  padding: 100px 0;

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
  }

  &__img {
    display: block;
  }

  &__text {
    font-size: 16px;
    border: 1px solid $line-color;
    border-top: none;
    padding: 12px 19px 14px;
  }
}

.travel-info {
  background-image: url(../images/travel-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 30px 0 50px;

  &__title {
    margin-bottom: 50px;
    color: #fff;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 54px 67px;
  }

  &__img {
    margin-bottom: 15px;
  }

  &__text {
    color: #fff;
    font-size: 16px;
    line-height: 140%;
  }
}

.popular {
  padding: 100px 0;

  &__title {
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 32px;
    padding-bottom: 80px;
    border: 1px solid #d9d9de;
  }

  &__item-link {
    padding: 16px 24px 19px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 256px;
    // min-width: 256px;
    line-height: 130%;
  }

  &__item-link:nth-child(3),
  &__item-link:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
  }

  &__item-title {
    font-weight: 500;
    margin-bottom: 15px;

    &--big {
      font-size: 24px;
    }
  }

  &__item-price {
    font-weight: bold;
    font-size: 16px;
    margin-top: auto;
  }

  &__item-country,
  &__item-time {
    align-self: flex-start;
    font-size: 16px;
  }
}

.map {
  padding-bottom: 100px;

  &__title {
    margin-bottom: 46px;
  }
}

.about {
  padding-bottom: 100px;

  &__inner {
    display: grid;
    grid-template-columns: 448px 640px;
    gap: 32px;
  }

  &__title {
    text-align: left;
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 34px;
  }

  &__link {
    font-size: 16px;
    line-height: 19px;
    color: #c4c4c4;
    text-decoration: underline;
  }

  &__popup {
    background-image: url(../images/video-poster.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.gallery {
  padding: 50px 0 105px;
  background-color: $accent;
  color: #fff;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 160px;
  }

  &__title {}

  &__link {
    font-size: 16px;
    text-decoration: underline;
    line-height: 19px;
  }

  &__slider {}

  &__item {}

  &__item-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  &__item-link {}

  &__item-img {}
}

.slick-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -85px;
  right: 0;

}

.slick-prev {
  right: 60px;
}

.tour {
  padding: 100px 0;

  &__title {
    margin-bottom: 77px;
  }

  &__content {
    column-count: 2;
    column-gap: 46px;
    border-bottom: 1px solid $line-color;
    margin-bottom: 44px;
    padding-bottom: 50px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    // display: grid;
    // grid-template-columns: repeat(5, 1fr);
    // gap: 70px;
  }

  &__info-item {
    text-align: center;
    font-size: 58px;
    line-height: 130%;
  }

  &__info-number {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 58px;
    line-height: 130%;
    color: $accent;
  }

  &__info-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
  }
}

.booking {
  background-color: $grey;
  padding: 75px 0;

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 43px;
  }


  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 832px;
    margin: 0 auto;
    // gap: 28px;
  }

  &__input,
  &__comments {
    font-size: 16px;
    line-height: 130%;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #D9D9DE;
  }

  &__input {
    // display: flex;
    // align-items: center;
    padding: 11px 14px 12px;
    margin-bottom: 28px;
  }

  &__input::placeholder,
  &__comments::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 130%;
    color: #C4C4C4;
  }

  &__comments {
    border: 1px solid #D9D9DE;
    width: 100%;
    padding: 14px;
    height: 112px;
    resize: none;
    margin-bottom: 67px;
  }

  &__submit-btn {
    min-width: 297px;
    min-height: 60px;
  }

  &__label {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 130%;
    text-decoration: underline;
  }

  &__checkbox {
    position: absolute;
    width: 26px;
    height: 26px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 45px;
  }

  &__checkbox:checked+&__checkbox-style::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #C4C4C4;
    // top: 15%;
    // left: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__checkbox-style {
    width: 26px;
    height: 26px;
    border: 2px solid #C4C4C4;
    border-radius: 2px;
    position: absolute;
    margin-left: -45px;
  }

  &__link {
    // font-size: 16px;
    // line-height: 130%;
    // text-decoration: underline;
  }
}

.footer {
  padding: 77px 0 81px;
  background-color: $text-color;

  &__logo {
    text-align: center;
    margin-bottom: 70px;
  }

  .logo {}

  .logo__img {}

  &__box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 130%;
    max-width: 832px;
    margin: 0 auto;
    color: rgba(#fff, .8);
  }

  &__info {
    width: 225px;
  }

  &__box-title {
    margin-bottom: 7px;
    font-weight: 500;
    color: rgba(#fff, 1);
  }

  &__copy {
    margin-bottom: 3px;
  }

  &__link {
    text-decoration: underline;
  }

  &__address {
    width: 165px;
  }

  &__adress-text {}

  &__contacts {
    width: 210px;
  }

  &__phone {}

  &__email {
    display: block;
  }

}